@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/inter-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/inter-700.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/inter-900.woff2");
  font-display: swap;
}

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #2D3440;
  background-color: #FEAFC3;
}

img {
  max-width: 100%;
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.button {
  display: inline-block;
  padding: 12px 32px;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #2D3440;
  background-color: #FCFCFC;
  border-radius: 26px;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
  cursor: pointer;
}

.button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline-color: #FCFCFC;
}

.button:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
}

.button:active {
  background-color: #FCFCFC;
  outline: 2px solid #2D3440;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active {
  color: #B9B9B9;
  background-color: #E7E7E7;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  cursor: default;
}

/* Header */

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.navigation {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 16px;
}

.logo-image {
  width: 137px;
  height: 56px;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 500px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-item {}

.navigation-link {
  display: block;
  padding: 8px 16px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  text-align: center;
  border-radius: 30px;
}

.navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.navigation-link:focus {
  outline: 2px solid #2D3440;
  outline-offset: 0;
  background-color: rgba(252, 252, 252, 0.5);
}

.navigation-link:active {
  background-color: #FCFCFC;
  outline: none;
}

.sub-menu {
  display: flex;
  align-items: center;
  gap: 6px;
}

.navigation-user {
  gap: 16px;
  width: 431px;
  margin-left: auto;
}

.navigation-user-link {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  text-align: center;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
}

.navigation-user-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.navigation-user-link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #000000;
  outline-offset: 0;
}

.navigation-user-link:active {
  background-color: #FCFCFC;
  outline: none;
}

.navigation-user-tel {
  display: block;
  padding: 0;
  align-self: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background: none;
}

.navigation-user-tel:hover,
.navigation-user-tel:active,
.navigation-user-tel:focus {
  background-color: transparent;
}

.search {
  padding: 12px;
  justify-content: center;
}

/* Main */

.main-container {
  width: 1170px;
  margin: 0 auto;
  flex-grow: 1;
}

.main-index {}

/* Slider */

.slider {
  position: relative;
  padding-top: 21px;
  padding-left: 70px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.slider-content {
  width: 430px;
  margin-right: 25px;
}

.slider-title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.slider-description {
  margin: 0;
  margin-bottom: 48px;
  font-size: 18px;
}

.slider-slideshow {
  width: 645px;
  display: flex;
  gap: 38px;
  align-items: center;
  flex-wrap: wrap;
}

.slide {
  position: relative;
  width: 100px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
}

.slide::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 25px;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: #FFCBD8;
  opacity: 0.4;
  border-radius: 50%;
}

.slide-current {
  width: 367px;
  height: 507px;
  margin-right: 2px;
  opacity: 1;
}

.slide-current::before {
  top: 100px;
  left: 19px;
  width: 327px;
  height: 312px;
  opacity: 1;
}

.slider-image {
  display: block;
  margin: 0 auto;
  width: 85px;
  height: 150px;
  opacity: 0.7;
}

.slide-current .slider-image {
  width: 327px;
  height: 507px;
  opacity: 1;
}


.slider-controls {
  position: absolute;
  top: 258px;
  left: 525px;
  width: 367px;
  display: flex;
  justify-content: space-between;
}

.slider-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border: 2px solid #FCFCFC;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 50%;
  cursor: pointer;
}

.slider-prev {}

.slider-next {}

.slider-pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.slider-pagination-item {}

.slider-pagination-item-current {}

.slider-pagination-button {
  display: block;
  width: 12px;
  height: 12px;
  border: none;
  padding: 0;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-item-current .slider-pagination-button {
  background-color: #FCFCFC;
  cursor: default;
}

.slider .social {
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 105px;
}

/* Offers */

.offers {
  margin-bottom: 80px;
}

.offers-description {
  width: 440px;
  margin: 0 auto;
  margin-bottom: 55px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.offers-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}

.offer {
  width: 570px;
  padding: 36px 217px 36px 36px;
  background-color: #FF7799;
  border-radius: 16px;
}

.offer:first-child {
  background-image: url("../images/bg-raspberry.png");
  background-position: 100% 50%;
  background-repeat: no-repeat;
}

.offer:nth-child(2) {
  background-image: url("../images/bg-marshmallow.png");
  background-position: 100% 50%;
  background-repeat: no-repeat;
}

.offer-title {
  margin: 0;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.offer-desfription {
  margin: 0;
  margin-bottom: 36px;
  line-height: 22px;
}

/* Popular */

.popular {
  margin-bottom: 80px;
}

.popular-title {
  width: 530px;
  margin: 0 auto;
  margin-bottom: 56px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.popular-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 30px;
}

.popular-item {
  width: 270px;
}

.popular-item-image {
  display: block;
  width: 168px;
  height: 168px;
  margin: 0 auto;
  margin-bottom: -116px;
  border-radius: 50%;
}

.popular-item-content {
  padding-top: 133px;
  padding-right: 40px;
  padding-bottom: 24px;
  padding-left: 40px;
  background-color: #FCFCFC;
  border-radius: 8px;
}

.popular-item-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.popular-item-description {
  margin: 0;
  margin-bottom: 16px;
  line-height: 22px;
  text-align: center;
  color: #565C66;
}

.popular-item-buy {
  width: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-item-price {
  font-weight: 700;
  font-size: 20px;
}

.popular-item-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #FF2F64;
  border-radius: 50%;
  color: #FFFFFF;
  text-decoration: none;
}

.popular-item-button:hover {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #FF2F64;
  outline-offset: -2px;
}

.popular-item-button:hover path {
  fill: #2D3440;
}

.popular-item-button:focus {
  background-color: #FF2F64;
  outline: 2px solid #2D3440;
  outline-offset: -2px;
}

.popular-item-button:active {
  background-color: #FFCBD8;
  outline: 2px solid #FF2F64;
  outline-offset: -2px;
}

.popular-item-button:active path {
  fill: #2D3440;
}

.popular-item-button:disabled,
.popular-item-button:disabled:hover,
.popular-item-button:disabled:active {
  background-color: #B9B9B9;
  outline: none;
}

.popular-item-button:disabled path {
  fill: #565C66;
}

/* Advantages */

.advantages {
  margin-bottom: 80px;
  padding: 24px;
  background-image: url("../images/bg-advantages.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #FFFFFF;
  border-radius: 16px;
}

.advantages-content {
  padding: 56px 40px;
  background-color: #FFFFFF;
  border-radius: 16px;
}

.advantages-description {
  margin: 0;
  margin-bottom: 56px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.advantages-list {
  width: 1042px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px 32px;
}

.advantages-item {
  display: flex;
  align-items: flex-start;
  width: 505px;
  line-height: 22px;
  color: #565C66;
}

.advantages-icon {
  margin-right: 16px;
}

/* Sections wrapper */

.sections-wrapper {
  width: 1170px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
}

/* News */

.news {
  width: 570px;
  padding-top: 32px;
  padding-right: 235px;
  padding-bottom: 67px;
  padding-left: 32px;
  background-color: #FFFFFF;
  background-image: url("../images/bg-news.png");
  background-repeat: no-repeat;
  background-size: 630px 400px;
  background-position: 10px -100px;
  border-radius: 16px;
}

.news-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.news-title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #565C66;
}

.news-description {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

/* Newsletter */

.newsletter {
  width: 570px;
  padding: 6px;
  background-color: #FFFFFF;
  background-image: url("../images/bg-newsletter.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.newsletter-content {
  padding: 26px;
  background-color: #FFFFFF;
  border-radius: 16px;
}

.newsletter-description {
  margin: 0;
  margin-bottom: 42px;
  line-height: 22px;
  color: #565C66;
}

.newsletter-form {
  display: flex;
  align-items: center;
}

.newsletter-label {
  width: 332px;
  margin-right: 16px;
}

.newsletter-field {
  width: 100%;
}

.newsletter-submit {
  display: inline-block;
  padding: 12px 32px;
  border: none;
  font-family: inherit;
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
  background-color: #FF2F64;
  border-radius: 26px;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  color: #FCFCFC;
  text-decoration: none;
  cursor: pointer;
}

.newsletter-submit:hover {
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.3);
  outline-color: #FF2F64;
}

.newsletter-submit:focus {
  outline: 2px solid #2D3440;
}

.newsletter-submit:active {
  color: #FCFCFC;
  background-color: #FEAFC3;
  outline: 2px solid #2D3440;
}

.newsletter-submit:disabled,
.newsletter-submit:disabled:hover,
.newsletter-submit:disabled:active {
  color: #565C66;
  background-color: #B9B9B9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
  cursor: default;
}

/* Delivery */

.delivery {
  margin-bottom: 80px;
  padding: 64px 64px 64px 100px;
  display: flex;
  align-items: center;
  background-color: #ecf5c7;
  background-image: url("../images/bg-delivery.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
}

.delivery-content {
  width: 371px;
  margin-right: 135px;
}

.delivery-title {
  width: 356px;
  margin: 0;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.delivery-description {
  margin: 0;
  line-height: 22px;
  color: #565C66;
}

.delivery-form {
  width: 500px;
  padding: 40px 40px 42px 40px;
  background-color: #FCFCFC;
  border-radius: 16px;
}

.delivery-form-description {
  width: 380px;
  margin: 0;
  margin-bottom: 32px;
  line-height: 22px;
  color: #565C66;
}

.delivery-form-fields {
  margin-bottom: 32px;
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 20px 16px;
}

.delivery-form-label {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-weight: 700;
  line-height: 20px;
}

.info {
  padding: 0;
  margin-top: 4px;
  margin-left: 4px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.delivery-field {
  width: 100%;
}

.delivery-form-date {
  margin: 0;
}

.delivery-form-tel {
  margin: 0;
}

.delivery-form-address {
  margin: 0;
  grid-column: 1/-1;
}

.delivery-form-submit {
  display: block;
  margin: 0 auto;
  padding: 12px 32px;
  border: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: #FF2F64;
  border-radius: 26px;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  color: #FCFCFC;
  text-decoration: none;
  cursor: pointer;
}

.delivery-form-submit:hover {
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.3);
  outline-color: #FF2F64;
}

.delivery-form-submit:focus {
  outline: 2px solid #2D3440;
}

.delivery-form-submit:active {
  color: #FCFCFC;
  background-color: #FEAFC3;
  outline: 2px solid #2D3440;
}

.delivery-form-submit:disabled,
.delivery-form-submit:disabled:hover,
.delivery-form-submit:disabled:active {
  color: #565C66;
  background-color: #B9B9B9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
  cursor: default;
}

/* Contacts */

.contacts {
  padding: 64px 763px 64px 64px;
  background-color: #FFFFFF;
  background-image: url("../images/bg-contacts.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -85px;
  border-radius: 16px;
}

.contacts-content {
  width: 343px;
  padding: 40px;
  background-color: #FCFCFC;
  border-radius: 8px;
}

.contacts-content p {
  margin: 0;
  margin-bottom: 12px;
  line-height: 22px;
  color: #565C66;
}

.contacts-address {
  display: block;
  margin: 0;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.contacts-phone {
  font-style: normal;
}

.contacts-phone-link {
  color: inherit;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
}

.contacts-time {
  display: block;
  margin-bottom: 32px;
  line-height: 22px;
  color: #565C66;
}

.contacts-link {
  display: block;
  margin: 0 auto;
  padding: 12px 32px;
  border: none;
  font-family: inherit;
  line-height: 20px;
  font-weight: 700;
  background-color: #FF2F64;
  border-radius: 26px;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  color: #FCFCFC;
  text-decoration: none;
  cursor: pointer;
}

.contacts-link:hover {
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.3);
  outline-color: #FF2F64;
}

.contacts-link:focus {
  outline: 2px solid #2D3440;
}

.contacts-link:active {
  color: #FCFCFC;
  background-color: #FEAFC3;
  outline: 2px solid #2D3440;
}

.contacts-link:disabled,
.contacts-link:disabled:hover,
.contacts-link:disabled:active {
  color: #565C66;
  background-color: #B9B9B9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
  cursor: default;
}

/* Footer */

.page-footer {
  width: 1170px;
  padding-top: 48px;
  padding-bottom: 48px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-links-list {
  width: 356px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 8px;
}

.footer-link {
  display: block;
  padding-left: 16px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
}

.footer-link-favourite {
  padding-left: 0;
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 700;
}

.footer-link-favourite::before {
  content: "";
  width: 14px;
  height: 12px;
  background-image: url("../images/icons/heart.svg");
  background-repeat: no-repeat;
}

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.social-item {}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: inherit;
  text-decoration: none;
}

.copyright {
  width: 193px;
}

.copyright-logo {
  display: block;
  margin-bottom: 14px;
}

.copyright-text {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}

.copyright-link {
  color: inherit;
}

/* Main inner */

.main-inner {
  padding-top: 32px;
}

/* Inner header */

.inner-header {
  width: 850px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.inner-header-title {
  margin: 0;
  order: 2;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  list-style: none;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
  gap: 9px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  display: block;
  margin-top: 6px;
  width: 12px;
  height: 12px;
  background-image: url("../images/icons/double-arrow.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link-current {
  text-decoration: underline;
}

/* Catalog */

.catalog {
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(252, 252, 252, 0.3);
}

/* Filters */

.filters-form {
  width: 823px;
  margin-bottom: 44px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px 24px;
}

.filters-group {
  margin: 0;
  padding: 0;
  border: none;
}

.filters-group-title {
  margin: 0;
  padding-left: 16px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 20px;
}

.sorting {
  width: 196px;
}

.filters-group-price {
  width: 196px;
}

.range-toggle {}

.range-toggle-min {}

.range-toggle-max {}

.radio-list {
  width: 383px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
  background-color: rgba(252, 252, 252, 0.3);
}

.radio-item {}

.radio-label {
  font-size: 14px;
  line-height: 20px;
}

.checkbox-list {
  width: 604px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
  background-color: rgba(252, 252, 252, 0.3);
}

.checkbox-item {}

.checkbox-label {
  font-size: 14px;
  line-height: 20px;
}

.filters-submit {
  display: block;
  padding: 8px 52px;
  margin-left: -8px;
  border: 2px solid #FCFCFC;
  align-self: flex-end;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  cursor: pointer;
}

.filters-submit:hover {
  background-color: #FCFCFC;
  border-color: rgba(252, 252, 252, 0.3);
}

.filters-submit:focus {
  outline: none;
  border-color: #2D3440;
}

.filters-submit:active {
  background-color: rgba(252, 252, 252, 0.5);
  border-color: transparent;
  outline: none;
}

.filters-submit:disabled,
.filters-submit:disabled:hover,
.filters-submit:disabled:active {
  opacity: 0.4;
  background-color: rgba(252, 252, 252, 0.3);
  border-color: #FCFCFC;
  cursor: default;
}

/* Cards */

.cards-list {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 40px 30px;
  list-style: none;
}

.card {
  width: 270px;
}

.card-image {
  display: block;
  width: 168px;
  height: 168px;
  margin: 0 auto;
  margin-bottom: -113px;
  border-radius: 50%;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
}

.card-content {
  padding-top: 133px;
  padding-right: 40px;
  padding-bottom: 24px;
  padding-left: 40px;
  background-color: #FCFCFC;
  border-radius: 8px;
}

.card-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.card-description {
  margin: 0;
  margin-bottom: 16px;
  line-height: 22px;
  text-align: center;
  color: #565C66;
}

.card-buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-price {
  font-weight: 700;
  font-size: 20px;
}

.card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #FF2F64;
  border-radius: 50%;
  color: #FFFFFF;
  text-decoration: none;
}

.card-button:hover {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #FF2F64;
  outline-offset: -2px;
}

.card-button:hover path {
  fill: #2D3440;
}

.card-button:focus {
  background-color: #FF2F64;
  outline: 2px solid #2D3440;
  outline-offset: -2px;
}

.card-button:active {
  background-color: #FFCBD8;
  outline: 2px solid #FF2F64;
  outline-offset: -2px;
}

.card-button:active path {
  fill: #2D3440;
}

.card-button:disabled,
.card-button:disabled:hover,
.card-button:disabled:active {
  background-color: #B9B9B9;
  outline: none;
}

.card-button:disabled path {
  fill: #565C66;
}

/* Catalog controls */

.catalog-controls {
  padding-top: 41px;
  padding-bottom: 41px;
  display: flex;
  align-items: center;
}

.catalog-more {
  margin-left: 488px;
  border: none;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  max-width: 210px;
}

.pagination-item {}

.pagination-prev {
  display: block;
  color: inherit;
  text-decoration: none;
  margin-right: 12px;
  transform: rotate(180deg);
}

.pagination-prev path {
  fill-opacity: 0.3;
}

.pagination-next {
  display: block;
  margin-left: 10px;
  color: inherit;
  text-decoration: none;
}

.pagination-link {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  text-decoration: none;
  border-radius: 50%;
}

.pagination-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.pagination-link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 1px solid #FCFCFC;
  outline-offset: 0;
}

.pagination-link:active {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 1px solid #2D3440;
  outline-offset: 0;
}

.pagination-link-current,
.pagination-link-current:hover,
.pagination-link-current:focus,
.pagination-link-current:active {
  background-color: #FCFCFC;
  outline: none;
  cursor: default;
}
