@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/inter-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/inter-700.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/inter-900.woff2");
  font-display: swap;
}

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 1366px;
  min-height: 100%;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #2D3440;
  background-color: #FEAFC3;
}

img {
  max-width: 100%;
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.button {
  display: inline-block;
  padding: 12px 32px;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #2D3440;
  background-color: #FCFCFC;
  border-radius: 26px;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
  cursor: pointer;
}

.button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline-color: #FCFCFC;
}

.button:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
}

.button:active {
  background-color: #FCFCFC;
  outline: 2px solid #2D3440;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active {
  color: #B9B9B9;
  background-color: #E7E7E7;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  cursor: default;
}

.button-secondary {
  display: inline-block;
  padding: 12px 32px;
  border: none;
  font-family: inherit;
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
  background-color: #FF2F64;
  border-radius: 26px;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  color: #FCFCFC;
  text-decoration: none;
  cursor: pointer;
}

.button-secondary:hover {
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.3);
  outline-color: #FF2F64;
}

.button-secondary:focus {
  outline: 2px solid #2D3440;
}

.button-secondary:active {
  color: #FCFCFC;
  background-color: #FEAFC3;
  outline: 2px solid #2D3440;
}

.button-secondary:disabled,
.button-secondary:disabled:hover,
.button-secondary:disabled:active {
  color: #565C66;
  background-color: #B9B9B9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
  cursor: default;
}

.field {
  width: 100%;
  padding: 14px 16px;
  border: 1px solid #B9B9B9;
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.field::placeholder {
  color: #B9B9B9;
}

.field:hover {
  border-color: #2D3440;
}

.field:focus {
  outline: 1px solid #2D3440;
  border-color: #2D3440;
}

.field:disabled,
.field:disabled:hover {
  border-color: #B9B9B9;
  color: rgba(45, 52, 64, 0.65);
  background-color: #E7E7E7;
}

.field.field-error {
  border-color: #EA5454;
}

/* Header */

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.navigation {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 16px;
}

.logo-image {
  width: 137px;
  height: 56px;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 500px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-item {
  position: relative;
}

.navigation-link {
  display: block;
  padding: 8px 18px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  text-align: center;
  border-radius: 30px;
}

.navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.navigation-link:focus {
  outline: 2px solid #2D3440;
  outline-offset: 0;
  background-color: rgba(252, 252, 252, 0.5);
}

.navigation-link:active {
  background-color: #FCFCFC;
  outline: none;
}

.navigation-item:last-child .navigation-link {
  padding-left: 14px;
}

.sub-menu {
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
}

.sub-menu svg {
  margin-left: 8px;
}

.sub-menu-open {
  color: #FCFCFC;
  background-color: #FF4A78;
}

.sub-menu-open svg {
  display: block;
  transform: rotate(180deg);
}

.sub-menu-open path {
  fill: #FCFCFC;
}

.sub-menu-open:hover,
.sub-menu-open:focus,
.sub-menu-open:active {
  background-color: #FF4A78;
}

.sub-menu-open ~ .sub-menu-popover {
  position: absolute;
  top: 48px;
  left: 0;
  z-index: 10;
  display: block;
  width: 138px;
  padding-top: 10px;
  padding-bottom: 8px;
  background-color: #FCFCFC;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
}

.sub-menu-popover {
  display: none;
}

.sub-menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sub-menu-link {
  display: block;
  padding: 6px 16px;
  color: #2D3440;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}

.sub-menu-link-super {
  padding: 8px 16px;
  font-weight: 700;
}

.sub-menu-link:hover {
  background-color: #FFCBD8;
}

.sub-menu-link:active {
  background-color: #FF7799;
}

.sub-menu-link-current,
.sub-menu-link-current:hover,
.sub-menu-link-current:active {
  color: #FCFCFC;
  background-color: #FF4A78;
  cursor: default;
}

.sub-menu-divider {
  width: 103px;
  margin: 0;
  margin-left: 16px;
  margin-bottom: 4px;
  border: 1px solid #B9B9B9;
  opacity: 0.5;
}

.navigation-user {
  justify-content: flex-end;
  gap: 16px;
  max-width: 470px;
  margin-left: auto;
}

.navigation-user-item {
  position: relative;
}

.navigation-user-link {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  text-align: center;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
}

.navigation-user-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.navigation-user-link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #000000;
  outline-offset: 0;
}

.navigation-user-link:active {
  background-color: #FCFCFC;
  outline: none;
}

.navigation-user-link-opened {
  color: #FCFCFC;
  background-color: #FF4A78;
}

.navigation-user-link-opened path {
  fill: #FCFCFC;
}

.navigation-user-link-opened:hover,
.navigation-user-link-opened:focus,
.navigation-user-link-opened:active {
  background-color: #FF4A78;
}

.navigation-user-tel {
  display: block;
  padding: 0;
  align-self: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background: none;
}

.navigation-user-tel:hover,
.navigation-user-tel:active,
.navigation-user-tel:focus {
  background-color: transparent;
}

.search {
  position: relative;
  padding: 12px;
  border: none;
  cursor: pointer;
}

.search-popover {
  display: none;
}

.search-popover-opened {
  position: absolute;
  top: 48px;
  right: 0;
  z-index: 10;
  display: block;
  width: 356px;
  padding: 24px 16px;
  background-color: #FCFCFC;
  border-radius: 4px;
}

.search-field::-webkit-search-cancel-button {
  width: 16px;
  height: 16px;
  appearance: none;
  background-image: url("../images/icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.login {
  border: none;
}

.login-popover {
  display: none;
}

.login-popover-opened {
  position: absolute;
  top: 43px;
  right: 0;
  z-index: 10;
  display: block;
  width: 420px;
  padding: 48px 48px 52px 48px;
  background-color: #FCFCFC;
  border-radius: 4px;
  box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
}

.login-popover-title {
  margin: 0;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #2D3440;
}

.login-field {
  margin-bottom: 16px;
}

.login-controls {
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.login-submit {
  max-width: 200px;
  margin-right: 23px;
}

.login-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.login-link {
  font-size: 14px;
  line-height: 20px;
  color: inherit;
  text-underline-offset: 2px;
}

.cart-popover {
  display: none;
}

.cart-popover-opened {
  position: absolute;
  top: 43px;
  right: 0;
  z-index: 10;
  display: block;
  width: 441px;
  padding: 48px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  background-color: #FCFCFC;
  border-radius: 4px;
  box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
}

.cart-popover-title {
  margin: 0;
  margin-bottom: 32px;
  text-align: left;
}

.cart-items-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  padding-bottom: 32px;
  border-bottom: 1px solid #E7E7E7;
  list-style: none;
}

.cart-item {
  display: flex;
  align-items: center;
}

.cart-item-image {
  width: 46px;
  height: 46px;
  margin-right: 16px;
}

.cart-item-content {
  margin-right: 39px;
  width: 125px;
  text-align: left;
}

.cart-item-title {
  margin: 0;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 22px;
}

.cart-item-description {
  display: block;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #B9B9B9;
}

.cart-item-price {
  max-width: 65px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.cart-item-delete {
  display: block;
  width: 16px;
  height: 16px;
  margin-left: auto;
  border: none;
  background-color: transparent;
  background-image: url("../images/icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.cart-popover-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-popover-total {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
}

/* Main */

.main-container {
  width: 1170px;
  margin: 0 auto;
  flex-grow: 1;
}

/* Slider */

.slider-1 {
  background-color: #FEAFC3;
}

.slider-2 {
  background-color: #69A9FF;
}

.slider-3 {
  background-color: #FCC850;
}

.slider {
  position: relative;
  padding-top: 21px;
  padding-left: 70px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.slider-content {
  padding-top: 116px;
  width: 430px;
  margin-right: 25px;
}

.slider-title {
  width: 440px;
  margin: 0;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.slider-description {
  margin: 0;
  margin-bottom: 47px;
  font-size: 18px;
}

.slider-link {
  margin-bottom: 126px;
}

.slider-slideshow {
  position: relative;
  width: 645px;
  display: flex;
  gap: 38px;
  align-items: center;
  flex-wrap: wrap;
}

.slide {
  position: relative;
  width: 100px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
}

.slide::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 25px;
  left: 0;
  width: 100px;
  height: 100px;
  opacity: 0.4;
  border-radius: 50%;
}

.slider-1 .slide::before {
  background-color: #FFCBD8;
}

.slider-2 .slide::before {
  background-color: #9FC8FF;
}

.slider-3 .slide::before {
  background-color: #FCDC92;
}

.slide-current {
  order: -1;
  width: 367px;
  height: 507px;
  margin-right: 2px;
  opacity: 1;
}

.slide-current::before {
  top: 100px;
  left: 19px;
  width: 327px;
  height: 312px;
  opacity: 1;
}

.slider-image {
  display: block;
  margin: 0 auto;
  width: 85px;
  height: 150px;
  opacity: 0.7;
}

.slide-current .slider-image {
  width: 327px;
  height: 507px;
  opacity: 1;
}

.slider-controls {
  position: absolute;
  top: 226px;
  left: 0;
  width: 367px;
  display: flex;
  justify-content: space-between;
}

.slider-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border: 2px solid #FCFCFC;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 50%;
  cursor: pointer;
}

.slider-button:hover {
  background-color: #FCFCFC;
}

.slider-button:focus {
  background-color: rgba(252, 252, 252, 0.3);
  border-color: #2D3440;
  outline: none;
}

.slider-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  border-color: rgba(252, 252, 252, 0.5);
}

.slider-button:hover path,
.slider-button:focus path,
.slider-button:active path {
  fill: #2D3440;
}

.slider-prev {
  transform: rotate(180deg);
}

.slider-pagination {
  position: relative;
  right: 70px;
  max-width: 512px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.slider-pagination-button {
  display: block;
  width: 12px;
  height: 12px;
  border: none;
  padding: 0;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button:hover {
  outline: 1px solid #FCFCFC;
  outline-offset: 0;
}

.slider-pagination-button:focus {
  outline: 1px solid #2D3440;
}

.slider-pagination-button:active {
  background-color: #FCFCFC;
  outline: none;
}

.slider-pagination-item-current .slider-pagination-button,
.slider-pagination-item-current .slider-pagination-button:hover,
.slider-pagination-item-current .slider-pagination-button:focus,
.slider-pagination-item-current .slider-pagination-button:active {
  background-color: #FCFCFC;
  cursor: default;
  outline: none;
}

.slider .social {
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 105px;
  max-width: 204px;
}

/* Offers */

.offers {
  margin-bottom: 80px;
}

.offers-description {
  width: 440px;
  margin: 0 auto;
  margin-bottom: 55px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.offers-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}

.offer {
  width: 570px;
  padding: 36px 217px 36px 36px;
  background-color: #FF7799;
  border-radius: 16px;
}

.offer:first-child {
  background-image: url("../images/bg-raspberry.png");
  background-position: 100% 50%;
  background-repeat: no-repeat;
}

.offer:nth-child(2) {
  background-image: url("../images/bg-marshmallow.png");
  background-position: 100% 50%;
  background-repeat: no-repeat;
}

.offer-title {
  margin: 0;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.offer-description {
  width: 304px;
  margin: 0;
  margin-bottom: 28px;
  line-height: 22px;
}

/* Popular */

.popular {
  margin-bottom: 80px;
}

.popular-title {
  width: 530px;
  margin: 0 auto;
  margin-bottom: 56px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.popular-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.popular-item {
  width: 270px;
}

.popular-item-image {
  display: block;
  width: 168px;
  height: 168px;
  margin: 0 auto;
  margin-bottom: -116px;
  border-radius: 50%;
}

.popular-item-content {
  padding-top: 133px;
  padding-right: 40px;
  padding-bottom: 24px;
  padding-left: 40px;
  background-color: #FCFCFC;
  border-radius: 8px;
}

.popular-item-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.popular-item-description {
  margin: 0;
  margin-bottom: 16px;
  line-height: 22px;
  text-align: center;
  color: #565C66;
}

.popular-item-buy {
  width: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-item-price {
  font-weight: 700;
  font-size: 20px;
}

.popular-item-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #FF2F64;
  border-radius: 50%;
  color: #FFFFFF;
  text-decoration: none;
}

.popular-item-button:hover {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #FF2F64;
  outline-offset: -2px;
}

.popular-item-button:hover path {
  fill: #2D3440;
}

.popular-item-button:focus {
  background-color: #FF2F64;
  outline: 2px solid #2D3440;
  outline-offset: -2px;
}

.popular-item-button:active {
  background-color: #FFCBD8;
  outline: 2px solid #FF2F64;
  outline-offset: -2px;
}

.popular-item-button:active path {
  fill: #2D3440;
}

.popular-item-button:disabled,
.popular-item-button:disabled:hover,
.popular-item-button:disabled:active {
  background-color: #B9B9B9;
  outline: none;
}

.popular-item-button:disabled path {
  fill: #565C66;
}

/* Advantages */

.advantages {
  margin-bottom: 80px;
  padding: 24px;
  background-image: url("../images/bg-advantages.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #FFFFFF;
  border-radius: 16px;
}

.advantages-content {
  padding: 56px 40px;
  background-color: #FFFFFF;
  border-radius: 16px;
}

.advantages-description {
  margin: 0;
  margin-bottom: 56px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.advantages-list {
  width: 1042px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px 32px;
}

.advantages-item {
  display: flex;
  align-items: flex-start;
  width: 505px;
  line-height: 22px;
  color: #565C66;
}

.advantages-icon {
  margin-right: 16px;
}

/* Sections wrapper */

.sections-wrapper {
  width: 1170px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
}

/* News */

.news {
  width: 570px;
  padding-top: 32px;
  padding-right: 235px;
  padding-bottom: 67px;
  padding-left: 32px;
  background-color: #FFFFFF;
  background-image: url("../images/bg-news.png");
  background-repeat: no-repeat;
  background-size: 630px 400px;
  background-position: 10px -100px;
  border-radius: 16px;
}

.news-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.news-title {
  margin: 0;
  margin-bottom: 14px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #565C66;
}

.news-description {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

/* Newsletter */

.newsletter {
  width: 570px;
  padding: 6px;
  background-color: #FFFFFF;
  background-image: url("../images/bg-newsletter.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.newsletter-content {
  height: 100%;
  padding: 26px;
  background-color: #FFFFFF;
  border-radius: 16px;
}

.newsletter-description {
  margin: 0;
  margin-bottom: 42px;
  line-height: 22px;
  color: #565C66;
}

.newsletter-form {
  display: flex;
  align-items: center;
}

.newsletter-label {
  width: 332px;
  margin-right: 16px;
}

/* Delivery */

.delivery {
  margin-bottom: 80px;
  padding: 64px 64px 64px 100px;
  display: flex;
  align-items: center;
  background-color: #ecf5c7;
  background-image: url("../images/bg-delivery.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
}

.delivery-content {
  padding-top: 3px;
  width: 371px;
  margin-right: 135px;
}

.delivery-title {
  width: 356px;
  margin: 0;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.delivery-description {
  margin: 0;
  line-height: 22px;
  color: #565C66;
}

.delivery-form {
  width: 500px;
  padding: 40px 40px 42px 40px;
  background-color: #FCFCFC;
  border-radius: 16px;
}

.delivery-form-description {
  width: 380px;
  margin: 0;
  margin-bottom: 32px;
  line-height: 22px;
  color: #565C66;
}

.delivery-form-fields {
  margin-bottom: 32px;
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 20px 16px;
}

.delivery-form-label {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-weight: 700;
  line-height: 20px;
}

.info {
  padding: 0;
  margin-top: 4px;
  margin-left: 4px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.delivery-form-date {
  margin: 0;
}

.delivery-form-tel {
  margin: 0;
}

.delivery-form-address {
  margin: 0;
  grid-column: 1/-1;
}

.delivery-form-submit {
  display: block;
  margin: 0 auto;
}

/* Contacts */

.contacts {
  padding: 64px 763px 64px 64px;
  background-color: #FFFFFF;
  background-image: url("../images/bg-contacts.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -85px;
  border-radius: 16px;
}

.contacts-content {
  width: 343px;
  padding: 40px;
  padding-top: 37px;
  background-color: #FCFCFC;
  border-radius: 8px;
}

.contacts-content p {
  margin: 0;
  margin-bottom: 12px;
  line-height: 22px;
  color: #565C66;
}

.contacts-address {
  display: block;
  margin: 0;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.contacts-phone {
  font-style: normal;
}

.contacts-phone-link {
  color: inherit;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
}

.contacts-time {
  display: block;
  margin-bottom: 32px;
  line-height: 22px;
  color: #565C66;
}

.contacts-link {
  margin: 0 auto;
}

/* Footer */

.page-footer {
  width: 1170px;
  padding-top: 48px;
  padding-bottom: 48px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-links-list {
  width: 376px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 8px;
}

.footer-link {
  display: block;
  min-width: 156px;
  padding-left: 28px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
}

.footer-link-favourite {
  padding-left: 0;
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 700;
}

.footer-link-favourite::before {
  content: "";
  width: 14px;
  height: 12px;
  background-image: url("../images/icons/heart.svg");
  background-repeat: no-repeat;
}

.social {
  max-width: 204px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: inherit;
  text-decoration: none;
}

.copyright {
  width: 193px;
}

.copyright-logo {
  display: block;
  margin-bottom: 14px;
}

.copyright-text {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}

.copyright-link {
  color: inherit;
}

/* Modal */

.modal-container {
  display: none;
}

.modal-opened {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(45, 52, 64, 0.3);
}

.modal-feedback {
  position: relative;
  width: 570px;
  margin: auto;
  padding: 64px 64px 66px 64px;
  background-color: #FCFCFC;
  border-radius: 8px;
}

.modal-close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  background-image: url("../images/icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  margin: 0;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #2D3440;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-form textarea {
  resize: none;
}

.modal-form-submit {
  margin-top: 16px;
  margin-left: auto;
}

/* Main inner */

.main-inner {
  padding-top: 32px;
}

/* Inner header */

.inner-header {
  width: 850px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.inner-header-title {
  margin: 0;
  order: 2;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  list-style: none;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
  gap: 9px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  display: block;
  margin-top: 6px;
  width: 12px;
  height: 12px;
  background-image: url("../images/icons/double-arrow.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link-current {
  text-decoration: underline;
}

/* Catalog */

.catalog {
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(252, 252, 252, 0.3);
}

/* Filters */

.filters-form {
  width: 823px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px 24px;
}

.filters-group {
  margin: 0;
  padding: 0;
  border: none;
}

.filters-group-title {
  margin: 0;
  padding-left: 16px;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.sorting-container {
  position: relative;
}

.sorting {
  width: 196px;
  padding: 8px 10px 8px 16px;
  border: none;
  font: inherit;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  appearance: none;
  cursor: pointer;
}

.sorting:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.sorting:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #FCFCFC;
  outline-offset: 0;
}

.sorting-container::after {
  position: absolute;
  top: 10px;
  right: 13px;
  content: "";
  width: 16px;
  height: 16px;
  font-size: 14px;
  background-image: url("../images/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.filters-group-price {
  width: 196px;
}

.range-container {
  padding: 17px 16px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
}

.range {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: rgba(86, 92, 102, 0.3);
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: rgba(86, 92, 102, 1);
}

.range-toggle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: none;
  padding: 0;
  background-color: #2D3440;
  border-radius: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.range-toggle::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background-color: #FCFCFC;
  border-radius: 50%;
}

.range-toggle:hover {
  background-color: #FCFCFC;
}

.range-toggle:hover::before {
  background-color: #2D3440;
}

.range-toggle:focus {
  outline: 2px solid #2D3440;
  outline-offset: 0;
  background-color: #FCFCFC;
}

.range-toggle:focus::before {
  background-color: #2D3440;
}

.range-toggle:active,
.range-toggle:active::before {
  background-color: #2D3440;
  outline: none;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  right: 0;
}

.radio-list {
  width: 383px;
  margin: 0;
  padding: 8px 24px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 18px;
}

.radio-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
}

.radio-mark {
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid #2D3440;
  border-radius: 50%;
}

.radio-label input[type="radio"]:checked + .radio-mark::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #2D3440;
  border-radius: 50%;
  margin: 4px;
}

.radio-label:hover .radio-mark {
  border-color: #FCFCFC;
}

.radio-label:hover input[type="radio"]:checked + .radio-mark::before {
  background-color: #FCFCFC;
}

.radio-label input[type="radio"]:disabled + .radio-mark,
.radio-label:hover input[type="radio"]:disabled + .radio-mark {
  border-color: #2D3440;
  opacity: 0.5;
}

.radio-label:hover input[type="radio"]:disabled + .radio-mark::before {
  background-color: #2D3440;
}

.checkbox-list {
  width: 604px;
  margin: 0;
  padding: 10px 24px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 18px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
}

.checkbox-mark {
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.checkbox-mark-icon-checked {
  display: none;
}

.checkbox-label input[type="checkbox"]:checked + .checkbox-mark > .checkbox-mark-icon-checked {
  display: block;
}

.checkbox-label input[type="checkbox"]:checked + .checkbox-mark > .checkbox-mark-icon {
  display: none;
}

.checkbox-label:hover path {
  fill: #FCFCFC;
}

.checkbox-label input[type="checkbox"]:disabled + .checkbox-mark path,
.checkbox-label:hover input[type="checkbox"]:disabled + .checkbox-mark path {
  opacity: 0.5;
  fill: #2D3440;
}

.filters-submit {
  display: block;
  padding: 8px 52px;
  margin-left: -8px;
  border: 2px solid #FCFCFC;
  align-self: flex-end;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  cursor: pointer;
}

.filters-submit:hover {
  background-color: #FCFCFC;
  border-color: rgba(252, 252, 252, 0.3);
}

.filters-submit:focus {
  outline: none;
  border-color: #2D3440;
}

.filters-submit:active {
  background-color: rgba(252, 252, 252, 0.5);
  border-color: transparent;
  outline: none;
}

.filters-submit:disabled,
.filters-submit:disabled:hover,
.filters-submit:disabled:active {
  opacity: 0.4;
  background-color: rgba(252, 252, 252, 0.3);
  border-color: #FCFCFC;
  cursor: default;
}

/* Cards */

.cards-list {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 36px 30px;
  list-style: none;
}

.card {
  width: 270px;
}

.card-image {
  display: block;
  width: 168px;
  height: 168px;
  margin: 0 auto;
  margin-bottom: -113px;
  border-radius: 50%;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
}

.card-content {
  padding-top: 133px;
  padding-right: 40px;
  padding-bottom: 24px;
  padding-left: 40px;
  background-color: #FCFCFC;
  border-radius: 8px;
}

.card-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.card-description {
  margin: 0;
  margin-bottom: 16px;
  line-height: 22px;
  text-align: center;
  color: #565C66;
}

.card-buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-price {
  font-weight: 700;
  font-size: 20px;
}

.card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #FF2F64;
  border-radius: 50%;
  color: #FFFFFF;
  text-decoration: none;
}

.card-button:hover {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #FF2F64;
  outline-offset: -2px;
}

.card-button:hover path {
  fill: #2D3440;
}

.card-button:focus {
  background-color: #FF2F64;
  outline: 2px solid #2D3440;
  outline-offset: -2px;
}

.card-button:active {
  background-color: #FFCBD8;
  outline: 2px solid #FF2F64;
  outline-offset: -2px;
}

.card-button:active path {
  fill: #2D3440;
}

.card-button:disabled,
.card-button:disabled:hover,
.card-button:disabled:active {
  background-color: #B9B9B9;
  outline: none;
}

.card-button:disabled path {
  fill: #565C66;
}

/* Catalog controls */

.catalog-controls {
  padding-top: 41px;
  padding-bottom: 41px;
  display: flex;
  align-items: center;
}

.catalog-more {
  max-width: 377px;
  margin-left: 488px;
  border: none;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px 2px;
  margin-left: auto;
  max-width: 210px;
}

.pagination-prev {
  display: block;
  color: inherit;
  text-decoration: none;
  margin-right: 12px;
  transform: rotate(180deg);
}

.pagination-prev path {
  fill-opacity: 0.3;
}

.pagination-next {
  display: block;
  margin-left: 8px;
  color: inherit;
  text-decoration: none;
}

.pagination-link {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  text-decoration: none;
  border-radius: 50%;
}

.pagination-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.pagination-link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 1px solid #FCFCFC;
  outline-offset: 0;
}

.pagination-link:active {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 1px solid #2D3440;
  outline-offset: 0;
}

.pagination-link-current,
.pagination-link-current:hover,
.pagination-link-current:focus,
.pagination-link-current:active {
  background-color: #FCFCFC;
  outline: none;
  cursor: default;
}
