@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/inter-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/inter-700.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/inter-900.woff2");
  font-display: swap;
}

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #2D3440;
  background-color: #FEAFC3;
}

img {
  max-width: 100%;
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.button {
  display: inline-block;
  padding: 12px 32px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #2D3440;
  background-color: #FCFCFC;
  border-radius: 26px;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
}

/* Header */

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.navigation {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 16px;
}

.logo-image {
  width: 137px;
  height: 56px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-item {}

.navigation-link {
  display: block;
  padding: 8px 16px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.navigation-user {
  width: 431px;
  margin-left: auto;
}

.navigation-user-item {
  margin-right: 16px;
}

.navigation-user-item:last-child {
  margin-right: 0;
}

.navigation-user-link {
  font-size: 14px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  text-align: center;
  background-color: rgba(252, 252, 252, 0.3);
}

.navigation-user-tel {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background: none;
}

/* Main */

.main-container {
  width: 1170px;
  margin: 0 auto;
  flex-grow: 1;
}

.main-index {}

/* Slider */

.slider {
  padding-top: 21px;
  padding-left: 70px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.slider-content {
  width: 430px;
  margin-right: 25px;
}

.slider-title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.slider-description {
  margin: 0;
  margin-bottom: 48px;
  font-size: 18px;
}

.slider-slideshow {
  width: 645px;
  display: flex;
  align-items: center;
}

.slide {
  width: 100px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
}

.slide-current {
  width: 367px;
  height: 507px;
  opacity: 1;
}

.slider-image {
  width: 85px;
  height: 150px;
  opacity: 0.7;
}

.slide-current .slider-image {
  width: 100%;
  height: 100%;
  opacity: 1;
}


.slider-controls {
  width: 367px;
  display: flex;
  justify-content: space-between;
}

.slider-button {
  width: 38px;
  height: 38px;
  border: 2px solid #FCFCFC;
  background-color: rgba(252, 252, 252, 0.3);
}

.slider-prev {}

.slider-next {}

.slider-pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.slider-pagination-item {}

.slider-pagination-item-current {}

.slider-pagination-button {}

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.social-item {}

.social-link {
  display: block;
  width: 24px;
  height: 24px;
  background-color: #FCFCFC;
  color: inherit;
  text-decoration: none;
}

/* Offers */

.offers {
  margin-bottom: 80px;
}

.offers-description {
  width: 440px;
  margin: 0 auto;
  margin-bottom: 55px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.offers-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}

.offer {
  width: 570px;
  padding: 36px 217px 36px 36px;
  background-color: #FF7799;
  border-radius: 16px;
}

.offer:first-child {
  background-image: url("../images/bg-raspberry.png");
  background-position: 100% 50%;
  background-repeat: no-repeat;
}

.offer:nth-child(2) {
  background-image: url("../images/bg-marshmallow.png");
  background-position: 100% 50%;
  background-repeat: no-repeat;
}

.offer-title {
  margin: 0;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.offer-desfription {
  margin: 0;
  margin-bottom: 28px;
  line-height: 22px;
}

/* Popular */

.popular {
  margin-bottom: 80px;
}

.popular-title {
  width: 530px;
  margin: 0 auto;
  margin-bottom: 56px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.popular-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 30px;
}

.popular-item {
  width: 270px;
}

.popular-item-image {
  display: block;
  width: 168px;
  height: 168px;
  margin: 0 auto;
  margin-bottom: -116px;
  border-radius: 50%;
}

.popular-item-content {
  padding-top: 133px;
  padding-right: 40px;
  padding-bottom: 24px;
  padding-left: 40px;
  background-color: #FCFCFC;
  border-radius: 8px;
}

.popular-item-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.popular-item-description {
  margin: 0;
  margin-bottom: 16px;
  line-height: 22px;
  text-align: center;
  color: #565C66;
}

.popular-item-buy {
  width: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-item-price {
  font-weight: 700;
  font-size: 20px;
}

.popular-item-button {
  width: 32px;
  height: 32px;
  background-color: #FF2F64;
  border-radius: 50%;
  color: #FFFFFF;
  text-decoration: none;
}

/* Advantages */

.advantages {
  margin-bottom: 80px;
  padding: 24px;
  background-image: url("../images/bg-advantages.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #FFFFFF;
  border-radius: 16px;
}

.advantages-content {
  padding: 56px 40px;
  background-color: #FFFFFF;
  border-radius: 16px;
}

.advantages-description {
  margin: 0;
  margin-bottom: 56px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.advantages-list {
  width: 1042px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px 32px;
}

.advantages-item {
  width: 505px;
  padding-left: 64px;
  line-height: 22px;
  color: #565C66;
}

/* Sections wrapper */

.sections-wrapper {
  width: 1170px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
}

/* News */

.news {
  width: 570px;
  padding-top: 32px;
  padding-right: 235px;
  padding-bottom: 67px;
  padding-left: 32px;
  background-color: #FFFFFF;
  background-image: url("../images/bg-news.png");
  background-repeat: no-repeat;
  background-size: 630px 400px;
  background-position: 10px -100px;
  border-radius: 16px;
}

.news-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.news-title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #565C66;
}

.news-description {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

/* Newsletter */

.newsletter {
  width: 570px;
  padding: 6px;
  background-color: #FFFFFF;
  background-image: url("../images/bg-newsletter.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.newsletter-content {
  padding: 26px;
  background-color: #FFFFFF;
  border-radius: 16px;
}

.newsletter-description {
  margin: 0;
  margin-bottom: 42px;
  line-height: 22px;
  color: #565C66;
}

.newsletter-form {
  display: flex;
  align-items: center;
}

.newsletter-label {
  width: 332px;
  margin-right: 16px;
}

.newsletter-field {
  width: 100%;
}

.newsletter-submit {
  font-family: inherit;
  line-height: 20px;
  font-weight: 700;
  background-color: #FF2F64;
  color: #FCFCFC;
  text-decoration: none;
}

/* Delivery */

.delivery {
  margin-bottom: 80px;
  padding: 64px 64px 64px 100px;
  display: flex;
  align-items: center;
  background-color: #ecf5c7;
  border-radius: 16px;
}

.delivery-content {
  width: 371px;
  margin-right: 135px;
}

.delivery-title {
  width: 356px;
  margin: 0;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.delivery-description {
  margin: 0;
  line-height: 22px;
  color: #565C66;
}

.delivery-form {
  width: 500px;
  padding: 40px 40px 42px 40px;
  background-color: #FCFCFC;
  border-radius: 16px;
}

.delivery-form-description {
  width: 380px;
  margin: 0;
  margin-bottom: 32px;
  line-height: 22px;
  color: #565C66;
}

.delivery-form-fields {
  margin-bottom: 32px;
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 20px 16px;
}

.delivery-form-label {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-weight: 700;
  line-height: 20px;
}

.info {
  margin-left: 4px;
}

.delivery-field {
  width: 100%;
}

.delivery-form-date {
  margin: 0;
}

.delivery-form-tel {
  margin: 0;
}

.delivery-form-address {
  margin: 0;
  grid-column: 1/-1;
}

.delivery-form-submit {
  display: block;
  width: 152px;
  margin: 0 auto;
  font-family: inherit;
  line-height: 20px;
  font-weight: 700;
  background-color: #FF2F64;
  color: #FCFCFC;
  text-decoration: none;
}

/* Contacts */

.contacts {
  padding: 64px 763px 64px 64px;
  background-color: #FFFFFF;
  background-image: url("../images/bg-contacts.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
}

.contacts-content {
  width: 343px;
  padding: 40px;
  background-color: #FCFCFC;
  border-radius: 8px;
}

.contacts-content p {
  margin: 0;
  margin-bottom: 12px;
  line-height: 22px;
  color: #565C66;
}

.contacts-address {
  display: block;
  margin: 0;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.contacts-phone {
  font-style: normal;
}

.contacts-phone-link {
  color: inherit;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
}

.contacts-time {
  display: block;
  margin-bottom: 32px;
  line-height: 22px;
  color: #565C66;
}

.contacts-link {
  font-family: inherit;
  line-height: 20px;
  font-weight: 700;
  background-color: #FF2F64;
  color: #FCFCFC;
  text-decoration: none;
}

/* Footer */

.page-footer {
  width: 1170px;
  padding-top: 48px;
  padding-bottom: 48px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-links-list {
  width: 356px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 8px;
}

.footer-link-item {}

.footer-link {
  display: block;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
}

.footer-link-favourite {
  font-weight: 700;
}

.copyright {
  width: 193px;
}

.copyright-logo {
  display: block;
  margin-bottom: 14px;
}

.copyright-text {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}

.copyright-link {
  color: inherit;
}

/* Main inner */

.main-inner {
  padding-top: 32px;
}

/* Inner header */

.inner-header {
  width: 850px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.inner-header-title {
  margin: 0;
  order: 2;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  align-items: center;
  list-style: none;
}

.breadcrumbs-item {}

.breadcrumbs-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link-current {
  text-decoration: underline;
}

/* Catalog */

.catalog {
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(252, 252, 252, 0.3);
}

/* Filters */

.filters-form {
  width: 823px;
  margin-bottom: 44px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px 24px;
}

.filters-group {
  margin: 0;
  padding: 0;
  border: none;
}

.filters-group-title {
  margin: 0;
  padding-left: 16px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 20px;
}

.sorting {
  width: 196px;
}

.filters-group-price {
  width: 196px;
}

.range-toggle {}

.range-toggle-min {}

.range-toggle-max {}

.radio-list {
  width: 383px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
  background-color: rgba(252, 252, 252, 0.3);
}

.radio-item {}

.radio-label {
  font-size: 14px;
  line-height: 20px;
}

.checkbox-list {
  width: 604px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
  background-color: rgba(252, 252, 252, 0.3);
}

.checkbox-item {}

.checkbox-label {
  font-size: 14px;
  line-height: 20px;
}

.filters-submit {
  display: block;
  width: 185px;
  margin-left: -8px;
  align-self: flex-end;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  background-color: rgba(252, 252, 252, 0.3);
}

/* Cards */

.cards-list {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 40px 30px;
  list-style: none;
}

.card {
  width: 270px;
}

.card-image {
  display: block;
  width: 168px;
  height: 168px;
  margin: 0 auto;
  margin-bottom: -113px;
  border-radius: 50%;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
}

.card-content {
  padding-top: 133px;
  padding-right: 40px;
  padding-bottom: 24px;
  padding-left: 40px;
  background-color: #FCFCFC;
  border-radius: 8px;
}

.card-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.card-description {
  margin: 0;
  margin-bottom: 16px;
  line-height: 22px;
  text-align: center;
  color: #565C66;
}

.card-buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-price {
  font-weight: 700;
  font-size: 20px;
}

.card-button {
  width: 32px;
  height: 32px;
  background-color: #FF2F64;
  border-radius: 50%;
  color: #FFFFFF;
  text-decoration: none;
}

/* Catalog controls */

.catalog-controls {
  padding-top: 41px;
  padding-bottom: 41px;
  display: flex;
  align-items: center;
}

.catalog-more {
  margin-left: 488px;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  max-width: 210px;
}

.pagination-item {}

.pagination-prev {
  color: inherit;
  text-decoration: none;
  margin-right: 8px;
}

.pagination-next {
  margin-left: 8px;
  color: inherit;
  text-decoration: none;
}

.pagination-link {
  display: block;
  padding: 2px 7px;
  color: inherit;
  text-decoration: none;
}

.pagination-link-current {
  background-color: #FCFCFC;
  border-radius: 50%;
}
